.howItWorks{
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-top: 46rem;
}

.howItWorks .howItWorks_section_title{
  font-size: 1.5rem;
  font-family: var(--fraunces);
  font-weight: 900;
  line-height: 32px;
  color: var(--grey);
}

.howItWorks .draw{
  display: none;
}

.howItWorks .workSteps_list{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.howItWorks .workSteps_list .workStep{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.howItWorks .workSteps_list .workStep .workStep_number{
  font-size: 4.5rem;
  font-family: var(--fraunces);
  font-weight: 900;
  line-height: 72px;
  color: var(--pale-orange);
}

.howItWorks .workSteps_list .workStep .workStep_name{
  font-size: 1.75rem;
  font-family: var(--fraunces);
  font-weight: 900;
  line-height: 32px;
  color: var(--dark-grey-blue);
}

.howItWorks .workSteps_list .workStep .workStep_description{
  font-size: .9375rem;
  font-family: var(--barlow);
  font-weight: 400;
  line-height: 25px;
  color: var(--dark-grey-blue);
}

.howItWorks .createYourPlan_button{
  width: 217px;
  height: 56px;
  border: none;
  border-radius: 5px;
  background-color: var(--dark-cyan);
  font-size: 1.125rem;
  font-family: var(--fraunces);
  font-weight: 900;
  line-height: 25px;
  color: var(--light-cream);
  cursor: pointer;
  transition: .3s;
}

.howItWorks .createYourPlan_button:hover{
  background-color: var(--main-button-hover);
}


@media(min-width: 768px){

  .howItWorks{
    width: 689px;
    align-items: flex-start;
    gap: 4rem;
    margin-top: 30rem;
  }

  .howItWorks .draw{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .howItWorks .draw .circle{
    width: 31px;
    height: 31px;
    border: 2px solid var(--dark-cyan);
    border-radius: 100%;
  }

  .howItWorks .draw .line{
    width: 202px;
    height: 2px;
    background-color: var(--pale-orange);
  }

  .howItWorks .workSteps_list{
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    gap: 0rem;
    justify-content: space-between;
  }

  .howItWorks .workSteps_list .workStep{
    width: 223px;
    gap: 2rem;
    align-items: flex-start;
    text-align: start;
  }
}

@media(min-width: 1200px){

  .howItWorks{
    width: 1045px;
    margin-top: 18rem;
  }

  .howItWorks .draw .line{
    width: 349px;
  }

  .howItWorks .workSteps_list .workStep{
    width: 285px;
  }

  .howItWorks .workSteps_list .workStep .workStep_name{
    width: 255px;
    font-size: 2rem;
    line-height: 36px;
  }

  .howItWorks .workSteps_list .workStep .workStep_name{
    font-size: 2rem;
  }

  .howItWorks .workSteps_list .workStep .workStep_description{
    font-size: 1rem;
  }
}
